<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Главная
  </title>
  <link rel="stylesheet" href="./css/style.css">
  <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="./vue_main.js"></script>
</head>
<body>

<div class="container" id="app">

  <div class="header">
    <div class="logo">
      <span>Stuff!</span><br>
      <p>Мы продаем товар!</p>
    </div>
    <div class="menu">
      <ul>
        <li class="">
          <a href="./index.html">Главная</a>
        </li>
        <li class="active">
          <a href="./catalog.html">Каталог</a>
        </li>
        <li class="">
          <a href="./contacts.html">Контакты</a>
        </li>

        <li class="">
          <a href="/basket/">

          </a>
        </li>
      </ul>
    </div>
    <div class="menu user">
      <ul>
        <li class="search"><input v-model="inputText" type="text" placeholder="Поиск">
          <button id="search">Искать</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="main">
    <div v-if="!filteredGoods.length" class="section">
      <h3>Нет данных для отображения</h3>

    </div>

    <div v-for="item in filteredGoods" :key="item.id_product" class="section goods-item">
      <div class="item">
        <div class="image">

        </div>

        <div class="text">

          <h4>Описание: </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur assumenda deserunt
            dicta
            incidunt ipsam laborum porro sed sunt ullam! Ad amet assumenda commodi consequatur dolores
            eligendi fugiat minus, necessitatibus obcaecati, odit officia perspiciatis porro quos
            voluptas
            voluptate! Aperiam assumenda deleniti eum fugit id in, odit optio quaerat totam
            veritatis.</p>
        </div>
        <div class="buy-block">
          <div class="discount"><span>-66.6%</span></div>
          <div class="bestsell"><span>Надо брать!</span></div>
          <br>
          <span class="name"><a
              href="#">{{item.product_name}}</a></span><br>
          <div class="price">
            <span class="price"> {{item.price}}  &#8381;</span>

            <span class="old-price"> {{item.price * 3}} &#8381;</span>

            <br>
            <button class="buy"><a href="#">Добавить товар</a></button>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="footer">
    <span>&copy; Zavyalov Den 2020</span>
  </div>

</div>
</div>


</div>
</body>
</html>